<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sx.qz2.dao.read.DataReadDao">
    <select id="getLineCtAndP" parameterType="com.sx.qz2.entity.res.NodeInfoEntity" resultType="com.sx.qz2.entity.res.LineCtAndPResEntity">
        SELECT id,
            ${nodeColumnName1} AS currentA,
            ${nodeColumnName2} AS currentB,
            ${nodeColumnName3} AS currentC,
            ${nodeColumnName4} AS powerActive,
            ${nodeColumnName5} AS powerReactive
        FROM ${nodeTableName} ORDER BY id DESC LIMIT 40
    </select>

    <select id="getSsVoltage" parameterType="com.sx.qz2.entity.res.NodeInfoEntity" resultType="com.sx.qz2.entity.res.SsVolResEntity">
        SELECT id,
            ${nodeColumnName1} AS voltageA,
            ${nodeColumnName2} AS voltageB,
            ${nodeColumnName3} AS voltageC
        FROM ${nodeTableName} ORDER BY id DESC LIMIT 40
    </select>
</mapper>
